*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
 
@media only screen and (max-width:1500px){
    .left{
        flex-basis: 5% !important;
    }
    .right{
        flex-basis: 5% !important;
    }
    .center{
        flex-basis: 90% !important;
    }
}
/* -----------------------------------------for small screen devices------------------------- */
@media only screen and (max-width:950px){
    #choosePht{
        font-size: 10px;
    }
    .ImagePanel p{
        font-size: 12px;
    }
    .top{
        margin-top: 100px;
    }
    .MainPanel{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .top{
        margin-top: 100px;
    }
    .userInformationContainer {
        flex-direction: column !important;
        margin: 0 !important;
        gap:50px !important;
        max-height:fit-content !important;
        /* padding: 0.5em !important; */
    }
    
    .profile-card{
        align-items: center;
    }

    .information{
        font-size: 12px;
    }
}
/*--------------------------------------UserProfile----------------------------------*/
#save {
    display: none;
}

#cancelBtn , #saveBtn{
    display: none;
}
.MainPanel{
    margin-top: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
}
.left{
    flex-basis: 20%;
}

.right{
    flex-basis: 20%;
}

.center{
    flex-basis: 60%;

}

.userInformationContainer{
    display: flex;
    flex-direction: row;
    border: 1px solid var(--first-color);
    box-shadow: -6px 6px 12px var(--first-color-light);
    padding: 2em ;
    border-radius: 10px;
    margin: 5rem auto;
    gap: 100px;
    max-height: fit-content;
}
.profile-card{
    max-height: 80%;
    flex: 40%;
    background-color: white;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user_form{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: white;
    justify-content: space-evenly;
    gap: 1em;
}

.userImage{
    position: relative;
    width: 100%;
    object-fit:contain;
}
.image-container{
    max-height: 400px;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.submit{
    padding: 14px 2rem;
    border-radius: 6px;
    background: linear-gradient(180deg, var(--first-color), var(--second-color));
    color: #fff;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    box-shadow: 0 6px 24px hsla(244, 75%, 48%, 0.5);
    margin-bottom: 1rem;
    cursor: pointer;
    margin-right: 1em;
}
.submit:hover{
    transform: scale(1.25);
}
.cancel{
    padding: 14px 2rem;
    border-radius: 6px;
    background: linear-gradient(180deg, var(--text-color), var(--text-color));
    color: #fff;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    box-shadow: 0 6px 24px grey;
    margin-bottom: 1rem;
    cursor: pointer;
    margin-right: 1em;
}
.cancel:hover{
    transform: scale(1.25);
}
.top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 2em;
}

#userProfileform{
    display: flex;
    justify-self: center;
    flex-direction: column;
    background-color: hsla(244, 16%, 92%, 0.6);
    border: 2px solid hsla(244, 16%, 92%, 0.75);
    backdrop-filter: blur(20px);
    padding: 2rem;
    border-radius: 1rem;
    margin-inline: 1.5rem;
    row-gap: 1.25rem;
}

input[type="file"] ,input[type="checkbox"]{
    display: none;
}

#choosePht {
    padding: 14px 2rem;
    border-radius: 6px;
    background: linear-gradient(180deg, var(--first-color), var(--second-color));
    color: #fff;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    box-shadow: 0 6px 24px hsla(244, 75%, 48%, 0.5);
    margin-bottom: 1rem;
    cursor: pointer;
    margin-right: 1em;
}

#choosePht:hover {
    transform: scale(1.25);
    /* background-color: var(--first-color-light); */
}

#edit_password{
    padding: 14px 2rem;
    border-radius: 6px;
    background: linear-gradient(180deg, var(--first-color), var(--second-color));
    color: #fff;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    box-shadow: 0 6px 24px hsla(244, 75%, 48%, 0.5);
    margin-bottom: 1rem;
    cursor: pointer;
}
#edit_password:hover{
    transform: scale(1.05);
}

.textB{
    /* margin-left: 1em;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--first-color);
    color: var(--first-color);
    font-weight: bold;
    width: 100%;
    display: block;
    margin-top: 1em; */
    margin-top: 1em;
    width: 100%;
    padding: 14px 12px;
    border-radius: 6px;
    border: 2px solid var(--first-color);
    background-color: white;
    color: var(--title-color);
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    transition: border 0.4s;
    padding-right: 36px;
}
.information i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textB:focus{
    outline: none;
    color: var(--first-color);
}
i{
    margin-right: 1em;
}

.information{
    padding: 1em;
    color: var(--first-color);
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.information:hover{
    color: var(--first-color-light);
}

#role{
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: larger;
}

/*------------------------------------error-*/
.error {
    background-color: red;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border-radius: 5px;
}

.error p{
    color: white;
}

.hidden{
    display: none;
}

